@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.page-content {
  padding-bottom: 100px;
}

.footer {
  position: relative;
  height: 200px;
  border-top: 2px solid #f8b5ff75;
}

.platform {
  position: absolute;
  width: 8%;
  text-align: center;
}

.platform img {
  width: 100%;
  height: auto;
}

.platform-1 {
  left: 15%;
  bottom: 10px;
}

.platform-2 {
  left: 45%;
  bottom: 80px;
}

.platform-3 {
  left: 80%;
  bottom: 40px;
}

.doodle {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 45px;
  left: 20%;
  transform: translateX(-50%);
  animation: moveDoodle 1s infinite alternate, flipDoodle 1s infinite steps(1);
}

@keyframes flipDoodle {
  0% {
    transform: translateX(-50%) scaleX(1);
  }
  50% {
    transform: translateX(-50%) scaleX(-1);
  }
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}

.doodle img {
  width: 100%;
  height: 100%;
}

.healthbar {
  position: absolute;
  top: -20px;
  right: 10px;
  width: 100px;
  height: auto;
}

.footer-text {
  position: absolute;
  bottom: -50px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  z-index: 3;
}

.footer-text--youra {
  font-family: 'Press Start 2P', sans-serif;
  color: #fbc8ff;
}

.footer-text--rest {
  font-family: 'Roboto Mono', monospace;
  color: #fbc8ff;
  font-size: 14px;
}

canvas {
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out;
}

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
